<a href="https://colab.research.google.com/github/ahmadkhanzadeh/AI_Data_Analyzing/blob/main/contaso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
#****************************************************************
#installing the database and start to quering this
#****************************************************************

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)-set up a user
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output) - set up a password
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump-database
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql-library to install and work with sql called jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic-load the extention
%load_ext sql

# Connect to the PostgreSQL database-connect to the database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

%%sql
always put this %%sql on top otherwise it is not going to work

In [6]:
%%sql
SELECT *
FROM sales
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64
1,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.75,659.78,382.25,GBP,0.64
2,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.38,54.38,25.00,USD,1.00
3,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.04,286.69,144.88,USD,1.00
4,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.75,135.75,62.43,USD,1.00
5,1002,2,2015-01-01,2015-01-01,1518349,660,1050,3,499.20,434.30,229.57,USD,1.00
6,1002,3,2015-01-01,2015-01-01,1518349,660,1608,1,65.99,58.73,33.65,USD,1.00
7,1003,0,2015-01-01,2015-01-01,1317097,510,85,3,74.99,74.99,34.48,USD,1.00
8,1004,0,2015-01-01,2015-01-01,254117,80,128,2,114.72,113.57,58.49,CAD,1.16
9,1004,1,2015-01-01,2015-01-01,254117,80,2079,1,499.45,499.45,165.48,CAD,1.16

In [7]:
%%sql
SELECT
  productkey,
  productcode,
  productname,
  cost,
  price,
  categoryname,
  subcategoryname
FROM
  product
ORDER BY
  productkey

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

2517 rows affected.

,productkey,productcode,productname,cost,price,categoryname,subcategoryname
0,1,101001,Contoso 512MB MP3 Player E51 Silver,6.62,12.99,Audio,MP4&MP3
1,2,101002,Contoso 512MB MP3 Player E51 Blue,6.62,12.99,Audio,MP4&MP3
2,3,101003,Contoso 1G MP3 Player E100 White,7.40,14.52,Audio,MP4&MP3
3,4,101004,Contoso 2G MP3 Player E200 Silver,11.00,21.57,Audio,MP4&MP3
4,5,101005,Contoso 2G MP3 Player E200 Red,11.00,21.57,Audio,MP4&MP3
...,...,...,...,...,...,...,...
2512,2513,505026,Contoso Bluetooth Active Headphones L15 Red,43.07,129.99,Cell phones,Cell phones Accessories
2513,2514,505027,Contoso Bluetooth Active Headphones L15 White,43.07,129.99,Cell phones,Cell phones Accessories
2514,2515,505028,Contoso In-Line Coupler E180 White,1.71,3.35,Cell phones,Cell phones Accessories
2515,2516,505029,Contoso In-Line Coupler E180 Black,1.71,3.35,Cell phones,Cell phones Accessories
2516,2517,505030,Contoso In-Line Coupler E180 Silver,1.71,3.35,Cell phones,Cell phones Accessories

In [12]:
%%timeit
%%sql

SELECT
  EXTRACt(YEAR FROM orderdate) AS year,
  SUM(netprice) AS total_year_net_revenue
FROM
  sales
GROUP BY
  year
ORDER BY
  year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

125 ms ± 23.5 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

List of Magic comments
%%timeit : measures the execution time of the next line of code </br>
%time  : measures the execution time of the entire cell </br>
%load_ext : loads and extension into the notebook </br>
%config : configures the notebook's settings </br>
%matplotlib : configures the matplotlib settings </br>
%sql : execute a SQL query </br>
%pwd : prints the current working directory </br>
%cd : chanding the current working directory </br>
%ls : list the files in the current directory </br>

In [15]:
%%sql

SELECT table_name
FROM information_schema.tables
WHERE table_schema='public';

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

6 rows affected.

         table_name
0  currencyexchange
1          customer
2             sales
3              date
4           product
5             store

In [19]:
%%sql

SELECT *
FROM information_schema.columns
WHERE table_name='customers';

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

Empty DataFrame
Columns: [table_catalog, table_schema, table_name, column_name, ordinal_position, column_default, is_nullable, data_type, character_maximum_length, character_octet_length, numeric_precision, numeric_precision_radix, numeric_scale, datetime_precision, interval_type, interval_precision, character_set_catalog, character_set_schema, character_set_name, collation_catalog, collation_schema, collation_name, domain_catalog, domain_schema, domain_name, udt_catalog, udt_schema, udt_name, scope_catalog, scope_schema, scope_name, maximum_cardinality, dtd_identifier, is_self_referencing, is_identity, identity_generation, identity_start, identity_increment, identity_maximum, identity_minimum, identity_cycle, is_generated, generation_expression, is_updatable]
Index: []

[0 rows x 44 columns]

In [56]:
%%sql

SELECT s.orderdate,
s.unitprice*s.quantity*s.exchangerate AS net_revenue,
c.givenname,
c.surname,
c.countryfull,
c.continent,
p.productkey,
p.productname,
p.categoryname,
p.subcategoryname,
CASE
  WHEN s.unitprice*s.quantity*s.exchangerate > 1000 THEN 'HIGH'
  ELSE 'LOW'
END AS high_low
FROM sales AS s
LEFT JOIN customer AS c
ON s.customerkey=c.customerkey
LEFT JOIN product AS p ON s.productkey=p.productkey
WHERE s.orderdate::date >= '2020-01-01'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

124451 rows affected.

,orderdate,net_revenue,givenname,surname,countryfull,continent,productkey,productname,categoryname,subcategoryname,high_low
0,2020-01-01,3075.80,David,Stone,United States,North America,1051,"A. Datum SLR Camera 35"" M358 Silver",Cameras and camcorders,Digital SLR Cameras,HIGH
1,2020-01-01,504.94,David,Stone,United States,North America,1709,MGS Gears of War M170,Games and Toys,Download Games,LOW
2,2020-01-01,1319.70,David,Stone,United States,North America,457,WWI Desktop PC1.60 E1600 White,Computers,Desktops,HIGH
3,2020-01-01,36.78,David,Stone,United States,North America,1385,Contoso Multi-line phones M30 Grey,Cell phones,Home & Office Phones,LOW
4,2020-01-01,4.49,David,Stone,United States,North America,1665,MGS Hand Games for 12-16 boys E600 Yellow,Games and Toys,Boxed Games,LOW
...,...,...,...,...,...,...,...,...,...,...,...
124446,2024-04-20,14.64,Guus,Doodeman,Netherlands,Europe,849,Contoso Ultraportable Neoprene Sleeve E30 Green,Computers,Computers Accessories,LOW
124447,2024-04-20,300.37,Guus,Doodeman,Netherlands,Europe,1651,Contoso DVD 9-Inch Player Portable M300 Silver,"Music, Movies and Audio Books",Movie DVD,LOW
124448,2024-04-20,167.93,Michael,Wilson,Canada,North America,1575,SV DVD Player M140 Gold,"Music, Movies and Audio Books",Movie DVD,LOW
124449,2024-04-20,2244.02,Michael,Wilson,Canada,North America,415,Proseware Laptop8.9 E089 White,Computers,Laptops,HIGH
124450,2024-04-20,56.83,Michael,Wilson,Canada,North America,1693,SV Hand Games men M30 Black,Games and Toys,Boxed Games,LOW

extract the number of