<a href="https://colab.research.google.com/github/ahmadkhanzadeh/AI_Data_Analyzing/blob/main/extract_the_name_of_all_tables_and_the_column_name_of_any_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [ ]:
# extract the name of the tables in a database
%%sql
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

6 rows affected.

         table_name
0  currencyexchange
1          customer
2             sales
3              date
4           product
5             store

In [30]:
# extract the name of the different columns in a given table
%%sql
SELECT column_name
FROM information_schema.columns
WHERE table_name = 'sales';

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

13 rows affected.

     column_name
0   exchangerate
1     linenumber
2      orderdate
3   deliverydate
4    customerkey
5       storekey
6     productkey
7       quantity
8      unitprice
9       netprice
10      unitcost
11      orderkey
12  currencycode

In [ ]:
%%sql
SELECT
p.categoryname,
SUM(s.quantity*s.netprice/s.exchangerate) AS net_rewenue,
SUM(DISTINCT CASE WHEN orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN orderkey ELSE 0 END ) AS TotalNetRevenue_2022
SUM() AS totalNetRevenue_2023
FROM sales AS s
LEFT JOIN product AS p ON s.productkey=p.productkey
GROUP BY p.categoryname
ORDER BY p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname  net_rewenue  totalnetrevenue_2022
0                          Audio   5312510.05            5153345692
1        Cameras and camcorders   18634290.97            5161273509
2                    Cell phones  32284538.21           23626398890
3                      Computers  91167799.21           23927847810
4                 Games and Toys   1671252.98            9714429914
5                Home Appliances  26512443.20            9371326668
6  Music, Movies and Audio Books  10463279.08           17576024231
7                   TV and Video  20227032.76            9506955365

In [ ]:
%%sql
# SELECT *
# FROM sales AS sa
# INNER JOIN store AS st ON sa.storekey=st.storekey
# INNER JOIN customer AS cu ON cu.customerkey=sa.customerkey

SELECT
st.storecode,
COUNT(DISTINCT CASE WHEN sa.orderdate BETWEEN '2023-01-01' AND '2023-12-31' AND cu.gender='male'  THEN sa.customerkey ELSE 0 END) AS male_2023,
COUNT(DISTINCT CASE WHEN sa.orderdate BETWEEN '2023-01-01' AND '2023-12-31' AND cu.gender='female'  THEN sa.customerkey ELSE 0 END) AS female_2023
FROM sales AS sa
INNER JOIN store AS st ON sa.storekey=st.storekey
INNER JOIN customer AS cu ON cu.customerkey=sa.customerkey
WHERE sa.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY st.storecode

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

58 rows affected.

    storecode  male_2023  female_2023
0          -1       4319         4470
1           1         28           29
2           3         46           46
3           4         40           32
4           5         65           59
5           6         38           47
6           7        102           93
7           8         93           84
8           9         66           87
9          10         75           87
10         12         15           25
11         13         12           17
12         14         24           22
13         15         13           14
14         16         17           13
15         17         19            9
16         18         19           20
17         19         45           51
18         21         47           39
19         22         48           73
20         23         46           50
21         24         44           56
22         25         41           45
23         26         45           46
24         27         40           47
25         29         37           30
26         30         41           28
27         31         51           38
28         32         49           38
29         33         46           39
30         34         49           45
31         36         34           37
32         37         46           27
33         38         40           62
34         39         47           32
35         40         61           43
36         42         37           49
37         43         60           73
38         44         75           78
39         45         73           86
40         47         47           55
41         48         75           78
42         49         71           80
43         50         83           83
44         51         74           82
45         53         64           70
46         54         86           62
47         55         82           71
48         56         75           58
49         57         66           60
50         58         73           43
51         59         84           72
52         60         71           71
53         61         74           74
54         62         74           68
55         65         90           55
56         66         67           49
57         67         71           73

In [ ]:
%%sql
SELECT pr.color,
COUNT(DISTINCT CASE WHEN cu.age between 18 AND 25 THEN cu.customerkey ELSE 0 END) AS sale_18to25,
COUNT(DISTINCT CASE WHEN cu.age between 26 AND 35 THEN cu.customerkey ELSE 0 END) AS sale_26to35,
COUNT(DISTINCT CASE WHEN cu.age between 36 AND 45 THEN cu.customerkey ELSE 0 END) AS sale_36to45,
COUNT(DISTINCT CASE WHEN cu.age > 45  THEN cu.customerkey ELSE 0 END) AS sale_more45
FROM sales as sa
INNER JOIN product AS pr On pr.productkey=sa.productkey
INNER JOIN customer AS cu ON cu.customerkey=sa.customerkey
WHERE sa.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY pr.color

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

17 rows affected.

          color  sale_18to25  sale_26to35  sale_36to45  sale_more45
0         Azure      3708799      4085555     10371768     33152205
1         Black    883776205   1219973505   1193350089   4813315836
2          blue      3901635      3252383      1532567     13065365
3          Blue    147582842    225200900    243286911    949167309
4         Brown    103140319    194697459    180562697    688898129
5          Gold    137042287    228242821    239351391    992547488
6         Green     67243427    108954535     95635202    363530617
7          Grey    319315803    472323443    473379401   1863374475
8        Orange     25169618     23559783     35602701    161277734
9          Pink     93196441    166542966    155894455    611485718
10       Purple      9497395      6847452      8523332     33094993
11          Red    238942330    323516208    318098811   1242207487
12       Silver    625836314    888112525    872474724   3504442987
13  Silver Grey      7806078     10819052     10209663     56944542
14  Transparent     10821612      2539143      5264099     34481946
15        White    636103510    916446284    883239828   3566255617
16       Yellow    103104098    126689475    135434465    503870271

In [ ]:
%%sql
SELECT pr.subcategoryname,
COUNT(DISTINCT CASE WHEN sa.netprice < 1000 THEN sa.orderkey ELSE 0 END) AS sale_less1000,
COUNT(DISTINCT CASE WHEN sa.netprice BETWEEN 1000 AND 2000 THEN sa.orderkey ELSE 0 END) AS sale_bet1000And200,
COUNT(DISTINCT CASE WHEN sa.netprice > 2000  THEN sa.orderkey ELSE 0 END) AS sale_more2000
FROM sales as sa
INNER JOIN product AS pr On pr.productkey=sa.productkey
INNER JOIN customer AS cu ON cu.customerkey=sa.customerkey
WHERE sa.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY pr.subcategoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

32 rows affected.

,subcategoryname,sale_less1000,sale_bet1000and200,sale_more2000
0,Air Conditioners,352,1,1
1,Bluetooth Headphones,825,1,1
2,Boxed Games,1917,1,1
3,Camcorders,262,66,1
4,Cameras & Camcorders Accessories,358,1,1
5,Car Video,543,1,1
6,Cell phones Accessories,1518,1,1
7,Coffee Machines,281,42,1
8,Computers Accessories,1210,1,1
9,Desktops,2421,1,1
10,Digital Cameras,345,1,1
11,Digital SLR Cameras,591,1,1
12,Download Games,1251,1,1
13,Fans,228,1,1
14,Home & Office Phones,1376,1,1
15,Home Theater System,343,4,1
16,Lamps,229,1,1
17,Laptops,1034,193,1
18,Microwaves,567,1,1
19,Monitors,1243,1,1
20,Movie DVD,5359,1,1
21,MP4&MP3,342,1,1
22,"Printers, Scanners & Fax",1199,1,1
23,Projectors & Screens,1051,7,230
24,Recording Pen,429,1,1
25,Refrigerators,301,1,52
26,Smart phones & PDAs,3258,1,1
27,Televisions,818,276,106
28,Touch Screen Phones,2712,1,1
29,VCD & DVD,489,1,1
30,Washers & Dryers,51,137,59
31,Water Heaters,631,173,1

In [ ]:
%%sql
SELECT st.countryname,
SUM(CASE WHEN st.squaremeters <1000 THEN sa.netprice*sa.quantity /sa.exchangerate ELSE 0 END) AS smallSize,
SUM(CASE WHEN st.squaremeters BETWEEN 1000 and 2000 THEN sa.netprice*sa.quantity /sa.exchangerate ELSE 0 END) AS mediumSize,
SUM(CASE WHEN st.squaremeters>2000 THEN sa.netprice*sa.quantity /sa.exchangerate ELSE 0 END) AS largeSize
FROM sales AS sa
INNER JOIN store as st ON sa.storekey=st.storekey
WHERE sa.orderdate BETWEEN '2023-01-01' AND '2023-12-31' AND st.countryname!='Online'
GROUP BY st.countryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

      countryname  smallsize  mediumsize  largesize
0       Australia   68749.56   357650.08  146880.87
1          Canada       0.00   445794.47  603568.20
2          France  451038.02        0.00       0.00
3         Germany  383145.80  1195387.17  222509.41
4           Italy       0.00   239219.46  164279.66
5     Netherlands  184032.51   524526.02       0.00
6  United Kingdom       0.00   988024.23  352387.57
7   United States  282562.90  5528952.03  246768.97

In [ ]:
%%sql
SELECT
 p.categoryname AS category,
 PERCENTILE_CONT(0.5) WITHIN GROUP(ORDER BY (s.netprice*s.quantity/s.exchangerate)) AS median_price,
 PERCENTILE_CONT(0.5) WITHIN GROUP(ORDER BY
 (CASE
   WHEN s.orderdate BETWEEN '2022-01-01'AND'2022-12-31'
    THEN (s.netprice*s.quantity/s.exchangerate)
    END)
    ) AS year2022median_price,
 PERCENTILE_CONT(0.5) WITHIN GROUP(ORDER BY
 (CASE
   WHEN s.orderdate BETWEEN '2023-01-01'AND'2023-12-31'
    THEN (s.netprice*s.quantity/s.exchangerate)
    END)
    ) AS year2023median_price
FROM sales AS s
LEFT JOIN product AS p ON  s.productkey=p.productkey
GROUP BY p.categoryname
ORDER BY p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,category,median_price,year2022median_price,year2023median_price
0,Audio,221.57,246.21,260.63
1,Cameras and camcorders,735.44,652.79,639.18
2,Cell phones,449.03,404.60,350.10
3,Computers,976.33,769.36,617.89
4,Games and Toys,34.19,32.00,31.98
5,Home Appliances,697.98,772.20,798.52
6,"Music, Movies and Audio Books",152.27,173.97,152.74
7,TV and Video,680.23,697.22,738.00

In [3]:
%%sql
SELECT cu.continent,
MAX(sa.quantity*sa.unitcost/sa.exchangerate) AS maximumPerContinent,
MIN(sa.quantity*sa.unitcost/sa.exchangerate) AS miniimumPerContinent,
AVG(sa.quantity*sa.unitcost/sa.exchangerate) AS AveragePerContinent
 FROM sales AS sa
LEFT JOIN customer as cu ON cu.customerkey=sa.customerkey
WHERE sa.orderdate BETWEEN '2022-01-01' AND '2022-12-31'
GROUP BY cu.continent

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

,continent,avg_net_revenue_2022,min_net_revenue_2022,max_net_revenue_2022
0,Australia,1336.18,4.54,24182.95
1,Europe,860.21,1.68,25725.87
2,North America,999.22,0.83,38082.66

In [23]:
%%sql
SELECT pr.categoryname,
 AVG(CASE WHEN st.squaremeters<1000 THEN sa.quantity*sa.netprice/sa.exchangerate ELSE 0 END ) AS smallSize,
 AVG(CASE WHEN st.squaremeters BETWEEN 1000 AND 2000 THEN sa.quantity/sa.netprice*sa.exchangerate ELSE 0  END ) AS mediumSize,
 AVG(CASE WHEN st.squaremeters > 2000 THEN sa.quantity*sa.netprice/sa.exchangerate ELSE 0 END ) AS largeSize
 FROM product AS pr
 INNER JOIN sales AS sa ON sa.productkey=pr.productkey
 INNER JOIN store AS st ON st.storekey=sa.storekey
 GROUP BY pr.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname  smallsize  mediumsize  largesize
0                          Audio     356.41        0.05     340.24
1        Cameras and camcorders     1488.82        0.03    1591.17
2                    Cell phones     831.66        0.08     807.46
3                      Computers    2160.79        0.03    2189.50
4                 Games and Toys      89.29        0.32      83.03
5                Home Appliances    1465.64        0.03    1543.38
6  Music, Movies and Audio Books     327.68        0.11     319.13
7                   TV and Video    1560.38        0.02    1548.64

In [40]:
%%sql
SELECT cu.countryfull,
MAX(CASE WHEN orderdate BETWEEN '2023-01-01' AND '2023-03-31' THEN sa.netprice*sa.quantity/sa.exchangerate END )AS max_of_firstQuarter,
MAX(CASE WHEN orderdate BETWEEN '2023-04-01' AND '2023-06-30' THEN sa.netprice*sa.quantity/sa.exchangerate END )AS max_of_second,
MAX(CASE WHEN orderdate BETWEEN '2023-07-01' AND '2023-09-30' THEN sa.netprice*sa.quantity/sa.exchangerate END )AS max_of_Third,
MAX(CASE WHEN orderdate BETWEEN '2023-10-01' AND '2023-12-31' THEN sa.netprice*sa.quantity/sa.exchangerate END )AS max_of_fourt
 FROM sales AS sa
INNER JOIN customer AS cu ON sa.customerkey=cu.customerkey
GROUP BY cu.countryfull

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,countryfull,max_of_firstquarter,max_of_second,max_of_third,max_of_fourt
0,Australia,7725.10,7580.79,7588.69,11996.67
1,Canada,13718.59,15685.76,15109.63,17319.09
2,France,17758.39,17263.02,15520.75,10560.58
3,Germany,29045.42,22544.41,19668.17,17164.31
4,Italy,15405.24,13347.58,14331.42,8727.16
5,Netherlands,20325.14,17782.57,14093.25,21016.16
6,United Kingdom,23815.57,27763.92,28993.53,25946.26
7,United States,23868.00,26679.91,25087.92,20655.00

In [53]:
# median net revenue for different age groups across various countries
%%sql
SELECT st.countryname,
percentile_disc(0.5) within group (order by CASE WHEN cu.age<30 THEN sa.netprice*sa.quantity/sa.exchangerate END) AS young_age,
percentile_disc(0.5) within group (order by CASE WHEN cu.age BETWEEN 30 AND 50 THEN sa.netprice*sa.quantity/sa.exchangerate END) AS middle_age,
percentile_disc(0.5) within group (order by CASE WHEN cu.age>50 THEN sa.netprice*sa.quantity/sa.exchangerate END) AS old_age
FROM sales as sa
INNER JOIN store as st ON sa.storekey=st.storekey
INNER JOIN customer as cu ON cu.customerkey=sa.customerkey
GROUP BY st.countryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

9 rows affected.

      countryname  young_age  middle_age  old_age
0       Australia     301.20      281.99   301.20
1          Canada     300.89      324.22   307.65
2          France     410.57      453.22   465.09
3         Germany     428.27      443.64   419.09
4           Italy     501.91      437.47   439.78
5     Netherlands     420.41      491.17   434.85
6          Online     389.00      380.95   389.00
7  United Kingdom     523.76      509.14   539.83
8   United States     404.62      404.97   400.49

In [63]:
# Sum of revenue more and less then average-
%%sql
# WITH median_value AS (
#   SELECT
#   PERCENTILE_CONT(0.5) WITHIN GROUP(ORDER BY (s.quantity*s.netprice/s.exchangerate)) AS median_revenue
#   FROM sales AS s
#   WHERE orderdate BETWEEN '2022-01-01' AND '2023-12-31'
# )

# SELECT *
# FROM sales AS s
# LEFT JOIN product AS p ON s.productkey=p.productkey

# GROUP BY p.categoryname
# ORDER BY p.categoryname;

WITH median_value AS (
  -- Corrected PERCENTILE_CONT syntax and date format
  SELECT
    PERCENTILE_CONT(0.5) WITHIN GROUP(ORDER BY (s.quantity * s.netprice / s.exchangerate)) AS median_revenue
  FROM sales AS s
  WHERE s.orderdate BETWEEN '2022-01-01' AND '2023-12-31'
)
SELECT
  p.categoryname,
  -- Sum of revenue for sales above the median
  SUM(CASE WHEN (s.quantity * s.netprice / s.exchangerate) > (SELECT median_revenue FROM median_value) THEN (s.quantity * s.netprice / s.exchangerate) ELSE 0 END) AS sum_revenue_above_median,
  -- Sum of revenue for sales below or equal to the median
  SUM(CASE WHEN (s.quantity * s.netprice / s.exchangerate) <= (SELECT median_revenue FROM median_value) THEN (s.quantity * s.netprice / s.exchangerate) ELSE 0 END) AS sum_revenue_below_median
FROM sales AS s
LEFT JOIN product AS p ON s.productkey = p.productkey
GROUP BY
  p.categoryname
ORDER BY
  p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,sum_revenue_above_median,sum_revenue_below_median
0,Audio,3636688.21,1675821.84
1,Cameras and camcorders,17892791.79,741499.17
2,Cell phones,29670220.59,2614317.61
3,Computers,89133604.24,2034194.98
4,Games and Toys,455822.37,1215430.60
5,Home Appliances,25507538.19,1004905.02
6,"Music, Movies and Audio Books",7751316.53,2711962.55
7,TV and Video,19297053.43,929979.32