<a href="https://colab.research.google.com/github/ahmadkhanzadeh/AI_Data_Analyzing/blob/main/extract_the_name_of_all_tables_and_the_column_name_of_any_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [2]:
# extract the name of the tables in a database
%%sql
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

6 rows affected.

         table_name
0  currencyexchange
1          customer
2             sales
3              date
4           product
5             store

In [3]:
# extract the name of the different columns in a given table
%%sql
SELECT column_name
FROM information_schema.columns
WHERE table_name = 'customer';

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

      column_name
0     customerkey
1      geoareakey
2         startdt
3           enddt
4        birthday
5             age
6        latitude
7       longitude
8   middleinitial
9         surname
10  streetaddress
11           city
12          state
13      statefull
14        zipcode
15        country
16    countryfull
17        company
18        vehicle
19     occupation
20      continent
21         gender
22          title
23      givenname

In [6]:
%%sql
SELECT
p.categoryname,
SUM(s.quantity*s.netprice/s.exchangerate) AS net_rewenue,
SUM(DISTINCT CASE WHEN orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN orderkey ELSE 0 END ) AS TotalNetRevenue_2022

FROM sales AS s
LEFT JOIN product AS p ON s.productkey=p.productkey
GROUP BY p.categoryname
ORDER BY p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname  net_rewenue  totalnetrevenue_2022
0                          Audio   5312510.05            5153345692
1        Cameras and camcorders   18634290.97            5161273509
2                    Cell phones  32284538.21           23626398890
3                      Computers  91167799.21           23927847810
4                 Games and Toys   1671252.98            9714429914
5                Home Appliances  26512443.20            9371326668
6  Music, Movies and Audio Books  10463279.08           17576024231
7                   TV and Video  20227032.76            9506955365

In [7]:
%%sql
# SELECT *
# FROM sales AS sa
# INNER JOIN store AS st ON sa.storekey=st.storekey
# INNER JOIN customer AS cu ON cu.customerkey=sa.customerkey

SELECT
st.storecode,
COUNT(DISTINCT CASE WHEN sa.orderdate BETWEEN '2023-01-01' AND '2023-12-31' AND cu.gender='male'  THEN sa.customerkey ELSE 0 END) AS male_2023,
COUNT(DISTINCT CASE WHEN sa.orderdate BETWEEN '2023-01-01' AND '2023-12-31' AND cu.gender='female'  THEN sa.customerkey ELSE 0 END) AS female_2023
FROM sales AS sa
INNER JOIN store AS st ON sa.storekey=st.storekey
INNER JOIN customer AS cu ON cu.customerkey=sa.customerkey
WHERE sa.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY st.storecode

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

58 rows affected.

    storecode  male_2023  female_2023
0          -1       4319         4470
1           1         28           29
2           3         46           46
3           4         40           32
4           5         65           59
5           6         38           47
6           7        102           93
7           8         93           84
8           9         66           87
9          10         75           87
10         12         15           25
11         13         12           17
12         14         24           22
13         15         13           14
14         16         17           13
15         17         19            9
16         18         19           20
17         19         45           51
18         21         47           39
19         22         48           73
20         23         46           50
21         24         44           56
22         25         41           45
23         26         45           46
24         27         40           47
25         29         37           30
26         30         41           28
27         31         51           38
28         32         49           38
29         33         46           39
30         34         49           45
31         36         34           37
32         37         46           27
33         38         40           62
34         39         47           32
35         40         61           43
36         42         37           49
37         43         60           73
38         44         75           78
39         45         73           86
40         47         47           55
41         48         75           78
42         49         71           80
43         50         83           83
44         51         74           82
45         53         64           70
46         54         86           62
47         55         82           71
48         56         75           58
49         57         66           60
50         58         73           43
51         59         84           72
52         60         71           71
53         61         74           74
54         62         74           68
55         65         90           55
56         66         67           49
57         67         71           73

In [8]:
%%sql
SELECT pr.color,
COUNT(DISTINCT CASE WHEN cu.age between 18 AND 25 THEN cu.customerkey ELSE 0 END) AS sale_18to25,
COUNT(DISTINCT CASE WHEN cu.age between 26 AND 35 THEN cu.customerkey ELSE 0 END) AS sale_26to35,
COUNT(DISTINCT CASE WHEN cu.age between 36 AND 45 THEN cu.customerkey ELSE 0 END) AS sale_36to45,
COUNT(DISTINCT CASE WHEN cu.age > 45  THEN cu.customerkey ELSE 0 END) AS sale_more45
FROM sales as sa
INNER JOIN product AS pr On pr.productkey=sa.productkey
INNER JOIN customer AS cu ON cu.customerkey=sa.customerkey
WHERE sa.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY pr.color

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

17 rows affected.

          color  sale_18to25  sale_26to35  sale_36to45  sale_more45
0         Azure            5            5            9           33
1         Black          795         1110         1122         4427
2          blue            4            3            3           13
3          Blue          132          204          228          868
4         Brown          103          176          164          640
5          Gold          137          212          232          897
6         Green           66          101           93          332
7          Grey          302          428          444         1712
8        Orange           22           22           30          161
9          Pink           91          154          136          579
10       Purple            8            9            7           35
11          Red          220          296          304         1180
12       Silver          570          831          819         3220
13  Silver Grey            9           14           10           58
14  Transparent            9            6            6           30
15        White          581          824          816         3312
16       Yellow          105          113          131          474

In [9]:
%%sql
SELECT pr.subcategoryname,
COUNT(DISTINCT CASE WHEN sa.netprice < 1000 THEN sa.orderkey ELSE 0 END) AS sale_less1000,
COUNT(DISTINCT CASE WHEN sa.netprice BETWEEN 1000 AND 2000 THEN sa.orderkey ELSE 0 END) AS sale_bet1000And200,
COUNT(DISTINCT CASE WHEN sa.netprice > 2000  THEN sa.orderkey ELSE 0 END) AS sale_more2000
FROM sales as sa
INNER JOIN product AS pr On pr.productkey=sa.productkey
INNER JOIN customer AS cu ON cu.customerkey=sa.customerkey
WHERE sa.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY pr.subcategoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

32 rows affected.

,subcategoryname,sale_less1000,sale_bet1000and200,sale_more2000
0,Air Conditioners,352,1,1
1,Bluetooth Headphones,825,1,1
2,Boxed Games,1917,1,1
3,Camcorders,262,66,1
4,Cameras & Camcorders Accessories,358,1,1
5,Car Video,543,1,1
6,Cell phones Accessories,1518,1,1
7,Coffee Machines,281,42,1
8,Computers Accessories,1210,1,1
9,Desktops,2421,1,1
10,Digital Cameras,345,1,1
11,Digital SLR Cameras,591,1,1
12,Download Games,1251,1,1
13,Fans,228,1,1
14,Home & Office Phones,1376,1,1
15,Home Theater System,343,4,1
16,Lamps,229,1,1
17,Laptops,1034,193,1
18,Microwaves,567,1,1
19,Monitors,1243,1,1
20,Movie DVD,5359,1,1
21,MP4&MP3,342,1,1
22,"Printers, Scanners & Fax",1199,1,1
23,Projectors & Screens,1051,7,230
24,Recording Pen,429,1,1
25,Refrigerators,301,1,52
26,Smart phones & PDAs,3258,1,1
27,Televisions,818,276,106
28,Touch Screen Phones,2712,1,1
29,VCD & DVD,489,1,1
30,Washers & Dryers,51,137,59
31,Water Heaters,631,173,1

In [10]:
%%sql
SELECT st.countryname,
SUM(CASE WHEN st.squaremeters <1000 THEN sa.netprice*sa.quantity /sa.exchangerate ELSE 0 END) AS smallSize,
SUM(CASE WHEN st.squaremeters BETWEEN 1000 and 2000 THEN sa.netprice*sa.quantity /sa.exchangerate ELSE 0 END) AS mediumSize,
SUM(CASE WHEN st.squaremeters>2000 THEN sa.netprice*sa.quantity /sa.exchangerate ELSE 0 END) AS largeSize
FROM sales AS sa
INNER JOIN store as st ON sa.storekey=st.storekey
WHERE sa.orderdate BETWEEN '2023-01-01' AND '2023-12-31' AND st.countryname!='Online'
GROUP BY st.countryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

      countryname  smallsize  mediumsize  largesize
0       Australia   68749.56   357650.08  146880.87
1          Canada       0.00   445794.47  603568.20
2          France  451038.02        0.00       0.00
3         Germany  383145.80  1195387.17  222509.41
4           Italy       0.00   239219.46  164279.66
5     Netherlands  184032.51   524526.02       0.00
6  United Kingdom       0.00   988024.23  352387.57
7   United States  282562.90  5528952.03  246768.97

In [11]:
%%sql
SELECT
 p.categoryname AS category,
 PERCENTILE_CONT(0.5) WITHIN GROUP(ORDER BY (s.netprice*s.quantity/s.exchangerate)) AS median_price,
 PERCENTILE_CONT(0.5) WITHIN GROUP(ORDER BY
 (CASE
   WHEN s.orderdate BETWEEN '2022-01-01'AND'2022-12-31'
    THEN (s.netprice*s.quantity/s.exchangerate)
    END)
    ) AS year2022median_price,
 PERCENTILE_CONT(0.5) WITHIN GROUP(ORDER BY
 (CASE
   WHEN s.orderdate BETWEEN '2023-01-01'AND'2023-12-31'
    THEN (s.netprice*s.quantity/s.exchangerate)
    END)
    ) AS year2023median_price
FROM sales AS s
LEFT JOIN product AS p ON  s.productkey=p.productkey
GROUP BY p.categoryname
ORDER BY p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,category,median_price,year2022median_price,year2023median_price
0,Audio,221.57,246.21,260.63
1,Cameras and camcorders,735.44,652.79,639.18
2,Cell phones,449.03,404.60,350.10
3,Computers,976.33,769.36,617.89
4,Games and Toys,34.19,32.00,31.98
5,Home Appliances,697.98,772.20,798.52
6,"Music, Movies and Audio Books",152.27,173.97,152.74
7,TV and Video,680.23,697.22,738.00

In [12]:
%%sql
SELECT cu.continent,
MAX(sa.quantity*sa.unitcost/sa.exchangerate) AS maximumPerContinent,
MIN(sa.quantity*sa.unitcost/sa.exchangerate) AS miniimumPerContinent,
AVG(sa.quantity*sa.unitcost/sa.exchangerate) AS AveragePerContinent
 FROM sales AS sa
LEFT JOIN customer as cu ON cu.customerkey=sa.customerkey
GROUP BY cu.continent

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

,continent,maximumpercontinent,miniimumpercontinent,averagepercontinent
0,Australia,11170.44,0.53,308.50
1,Europe,19306.00,0.52,528.83
2,North America,16559.40,0.35,431.85

In [20]:
%%sql
SELECT CASE
        WHEN cu.age <25 THEN 'Young'
        WHEN cu.age Between 25 AND 44 THEN 'Middle'
        ELSE 'Old'
      END AS Age_group,
      SUM(sa.netprice*sa.quantity/sa.exchangerate) AS purchase
      FROM sales AS sa
INNER JOIN customer AS cu ON sa.customerkey=cu.customerkey
GROUP BY Age_group

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

  age_group     purchase
0    Middle  62565297.05
1       Old 125033704.49
2     Young  18674144.92

In [31]:
# customer classification on their total spending in 2023 into three categories: Low Spender, Medium Spender, and High Spender
%%sql
select CASE
  WHEN SUM(sa.netprice*sa.quantity/sa.exchangerate)<500 THEN 'Small_purchase'
  WHEN SUM(sa.netprice*sa.quantity/sa.exchangerate) BETWEEN 500 AND 2000 THEN 'Medium_purchase'
  ELSE 'Large_purchase'
END AS purchase_segmentaion,
SUM(sa.netprice*sa.quantity*sa.exchangerate) AS Total_sold,
cu.customerkey
FROM sales AS sa
INNER JOIN customer AS cu
ON cu.customerkey=sa.customerkey
WHERE sa.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY cu.customerkey
ORDER BY customerkey

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

13746 rows affected.

      purchase_segmentaion  total_sold  customerkey
0          Medium_purchase     1984.90          180
1           Small_purchase     1019.74          387
2          Medium_purchase     3551.47          545
3          Medium_purchase     1749.11          649
4           Large_purchase    16909.04          688
...                    ...         ...          ...
13741       Small_purchase      299.00      2099174
13742       Small_purchase      358.88      2099336
13743       Large_purchase     2856.02      2099511
13744       Large_purchase     8328.22      2099656
13745      Medium_purchase      598.46      2099743

[13746 rows x 3 columns]

In [54]:
%%sql
SELECT COUNT(pr.productcode) AS all_product,
CASE
    WHEN pr.weight IS NULL OR pr.weightunit IS NULL OR pr.weightunit = '' THEN '1 - No Weight Specified'
    WHEN pr.weightunit = 'pounds' AND pr.weight < 5 THEN '2 - Very Light (< 5 lbs)'
    WHEN pr.weightunit = 'pounds' AND pr.weight BETWEEN 5 AND 25 THEN '3 - Light (5-25 lbs)'
    WHEN pr.weightunit = 'pounds' AND pr.weight > 25 AND pr.weight <= 100 THEN '4 - Medium (25-100 lbs)'
    WHEN pr.weightunit = 'pounds' AND pr.weight > 100 THEN '5 - Heavy (> 100 lbs)'
    WHEN pr.weightunit = 'oz' AND pr.weight < 5 THEN '6 - Light Ounces (< 5 oz)'
    WHEN pr.weightunit = 'oz' AND pr.weight >= 5 THEN '7 - Heavy Ounces (>= 5 oz)'
    WHEN pr.weightunit = 'g' THEN '8 - Metric Weights'
    ELSE '9 - Other Weight Categories'
END AS weight_categories
FROM sales AS sa
INNER JOIN PRODUCT AS pr ON pr.productkey=sa.productkey
GROUP BY weight_categories
ORDER BY weight_categories


# SELECT
#   COUNT(pr.productcode) AS all_products,
#   CASE
#     WHEN pr.weight IS NULL OR pr.weightunit IS NULL OR pr.weightunit = '' THEN '1 - No Weight Specified'
#     WHEN pr.weightunit = 'pounds' AND pr.weight < 5 THEN '2 - Very Light (< 5 lbs)'
#     WHEN pr.weightunit = 'pounds' AND pr.weight BETWEEN 5 AND 25 THEN '3 - Light (5-25 lbs)'
#     WHEN pr.weightunit = 'pounds' AND pr.weight > 25 AND pr.weight <= 100 THEN '4 - Medium (25-100 lbs)'
#     WHEN pr.weightunit = 'pounds' AND pr.weight > 100 THEN '5 - Heavy (> 100 lbs)'
#     WHEN pr.weightunit = 'oz' AND pr.weight < 5 THEN '6 - Light Ounces (< 5 oz)'
#     WHEN pr.weightunit = 'oz' AND pr.weight >= 5 THEN '7 - Heavy Ounces (>= 5 oz)'
#     WHEN pr.weightunit = 'g' THEN '8 - Metric Weights'
#     ELSE '9 - Other Weight Categories'
#   END AS weight_categories
# FROM sales AS sa
# INNER JOIN product AS pr ON pr.productkey = sa.productkey
# GROUP BY
#   weight_categories
# ORDER BY
#   weight_categories;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

6 rows affected.

   all_product            weight_categories
0        31314      1 - No Weight Specified
1        50112     2 - Very Light (< 5 lbs)
2        43653         3 - Light (5-25 lbs)
3        25004      4 - Medium (25-100 lbs)
4         2133        5 - Heavy (> 100 lbs)
5        47657  9 - Other Weight Categories

In [56]:
# stores clasification based on squaremeters and revenue
%%sql
WITH store_revenue AS(
  SELECT sales.netprice*sales.quantity/sales.exchangerate FROM sales
)

SELECT * FROM store AS st
INNER JOIN sales AS sa ON sa.storekey=st.storekey LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,storekey,storecode,geoareakey,countrycode,countryname,state,opendate,closedate,description,squaremeters,...,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,400,40,166,GB,United Kingdom,Dungannon and South Tyrone,2012-06-06,None,Contoso Store Dungannon and South Tyrone,1300.00,...,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64
1,400,40,166,GB,United Kingdom,Dungannon and South Tyrone,2012-06-06,None,Contoso Store Dungannon and South Tyrone,1300.00,...,2015-01-01,947009,400,460,1,749.75,659.78,382.25,GBP,0.64
2,430,43,566,US,United States,Alaska,2015-01-01,None,Contoso Store Alaska,1190.00,...,2015-01-01,1772036,430,1730,2,54.38,54.38,25.00,USD,1.00
3,660,66,615,US,United States,West Virginia,2012-01-01,None,Contoso Store West Virginia,1785.00,...,2015-01-01,1518349,660,955,4,315.04,286.69,144.88,USD,1.00
4,660,66,615,US,United States,West Virginia,2012-01-01,None,Contoso Store West Virginia,1785.00,...,2015-01-01,1518349,660,62,7,135.75,135.75,62.43,USD,1.00
5,660,66,615,US,United States,West Virginia,2012-01-01,None,Contoso Store West Virginia,1785.00,...,2015-01-01,1518349,660,1050,3,499.20,434.30,229.57,USD,1.00
6,660,66,615,US,United States,West Virginia,2012-01-01,None,Contoso Store West Virginia,1785.00,...,2015-01-01,1518349,660,1608,1,65.99,58.73,33.65,USD,1.00
7,510,51,587,US,United States,Maine,2010-01-01,None,Contoso Store Maine,1295.00,...,2015-01-01,1317097,510,85,3,74.99,74.99,34.48,USD,1.00
8,80,8,13,CA,Canada,Newfoundland and Labrador,2014-07-02,None,Contoso Store Newfoundland and Labrador,2105.00,...,2015-01-01,254117,80,128,2,114.72,113.57,58.49,CAD,1.16
9,80,8,13,CA,Canada,Newfoundland and Labrador,2014-07-02,None,Contoso Store Newfoundland and Labrador,2105.00,...,2015-01-01,254117,80,2079,1,499.45,499.45,165.48,CAD,1.16